<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to GoodLooks, <%= @user.pro.name %></h1>
    <p>
      And thank you for joining! As a reminder, your credentials are as follows:
Your username is: <%= @user.email %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>We started GoodLooks with the belief that every person should feel comfortable in their own skin. Our goal is to create a destination for successful men and women to find the right personal professional to help them look their best, feel their best, and be their best. By joining our network of professionals, we can help deliver you new, qualified customers on the GoodLooks platform. And nothing makes us more excited than enabling a great match between a talented expert and a great customer! So welcome aboard! We look forward to growing alongside you and your business. If you have any questions, feel free to reach out anytime!</p>

    <p>Best,</p>
    <p>Cynthia Rupeka</p>
    <p>Head of Brand Experience</p>
  </body>
</html>