<section class="upcoming-evets">
    <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="base-container">
              <div class="section-title">
                <ul class="list-inline">
                  <li class="base-title">Forgot your password?</li>
                </ul>
              </div>


<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, :class => "form-control") do |f| %>
  <%= f.error_notification %>

<div class="form-inputs">
<div class="row">  	
    <div class="col-xs-4 col-sm-4">
    <p>You will be emailed password reset instructions</p>
    <%= f.input :email, required: true, autofocus: true %>
    </div>
    </div>
    </div>
<br>
<div class="row">
    <div class="col-xs-4 col-sm-4">
		<div class="form-actions">
    		<%= f.submit "Reset my password", class: 'f_bold btn btn-default btn-theme btn-lg' %>
</div>
<br>
<br>
<br>
</div>
    </div>

<% end %>
</div>  
    </div>
    </div>
</div>  
</section>