<footer>
<div class="container">
<div class="row">

<div class="col-sm-4 col-md-4">
<h3>Learn More</h3>
<ul>
<li><a href="#">About Us</a></li>
</ul>
</div>

<div class="col-sm-4 col-md-4">
<h3>Explore</h3>
<ul>
<li><a href="#">For Experts</a></li>
<li><a href="#">Contact Us</a></li>
</ul>
</div>

<div class="col-sm-4 col-md-4">
<h3>Connect</h3>
<br>
<a href="https://www.facebook.com/goodlooks.me/?" class="fa fa-facebook"></a>  <a href="https://twitter.com/goodlooks_me" class="fa fa-twitter"></a> <a href="https://www.instagram.com/goodlooks/" class="fa fa-instagram"></a> <a href="https://www.linkedin.com/company/goodlooks" class="fa fa-linkedin"></a>
</div>

</div>
</div>

<div class="copy">Copyright &copy; GoodLooks, LLC, All Right Reserved
<ul>
<a href="#">Terms of Service   -   </a>

<a href="#">Privacy Policy</a>
</ul>
</div> 
</footer>

