<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <ul class="list-unstyled">
                    <li class="footer-title">Goodlooks</li>
                    <li>    <%= link_to 'ABOUT US', pages_about_path %> </li>

                </ul>
            </div>

            <div class="col-sm-3">
                <ul class="list-unstyled">
                    <li class="footer-title">partners</li>
                    <li>    <%= link_to 'FIND A STYLIST', "https://goodlooks.me/" %> </li>

                </ul>
            </div>

            <div class="col-sm-3">
                <ul class="list-unstyled">
                    <li class="footer-title">Need Help ?</li>

                </ul>
            </div>

            <div class="col-sm-3">
                <ul class="list-unstyled">
                    <li class="footer-title">connect</li>
                    
                    <li>
                        <ul class="social_share list-unstyled list-inline">
                            <li><a href="https://www.facebook.com/goodlooks.me/?" class=""><i class="sk-facebook-circle"></i></a></li>
                            <li><a href="https://twitter.com/goodlooks_me" class=""><i class="sk-twitter-circle"></i></a></li>
                            <li><a href="https://twitter.com/goodlooks_me" class=""><i class="sk-instragram-circle"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/goodlooks" class=""><i class="sk-linkedin-circle"></i></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="copy-info">
        Copyright © GoodLooks, LLC , All Rights reserved
    </div>

<script async defer src="//assets.pinterest.com/js/pinit.js"></script>

</footer>    

