
<about>
<div class="jumbotron">
  <div class="container-fluid">
    <div class="carousel-caption">
      <div class="col-sm-6 col-md-7">

        <h4>YOUR STYLE IS AN EXPRESSION. CREATE IT.</h4><br>
        <h4>YOUR BODY IS A TEMPLE. HONOR IT.</h4><br>
        <h4>YOUR MIND IS A TOOL. USE IT.</h4><br>
        <h2>TOMORROW IS CALLING. OWN IT.</h2>

      </div>
  </div>
</div>
</div>

</about>
<section id="experience">
<div class="container">
<div class="row">
<h3>OUR STORY</h3>
<p>Strong professionals.  Fun friends. Caring parents.  Reliable co-workers. Compassionate siblings.  Responsible bosses.  Loving partners.  Good people.</p>
<p>The list can goes on.  Our lives are filled with endless roles and what we do for others.  And we are constantly striving to be better at them.  </p>
<p>But the realities of our endless roles mean there is just not enough time in the day.  Like everyone else, co-founders Mitzi and Cynthia, have felt this way.  On a journey for self-improvement, they tried looking for experts to help them.</p>
<p>In this day and age, you would think this would be simple…wrong.  </p>
<p>Yes, there are tons of sources that list professionals.  But they are fragmented.  And hard to compare.  Critical details like price and specialties are hard to gleen without putting in some serious research and back and forth phone calls.  When we learn some prices, we’re amazed at how expensive rates can be.  And in the end, we’re still left with the uncertainty if it will be the right fit.</p>
<p>We knew there had to be a better way.</p>

<h3>Give A Little Charity Program</h3>
<p>We believe all of us can help make the world a better place.  Since our launch, we’ve offered our users the option to “Give a Little” to a great charity when they purchase their styling services.  This program offers our customers a convenient way to contribute which adds up to a lot for our selected non-profits.  We are currently collecting proceeds for <a href="https://www.dressforsuccess.org/">Dress for Success</a> and 100% of all donations will be given to the organization. </p>

<p>Charitable organizations who want to learn more about being featured, please <a href="mailto:info@goodlooks.me">email us </a>for an application, which includes your needs, size of the group, how the funds will be used, and your 501c3 status.</p>

<h3>Meet the Team</h3>
<div class="col-xs-6 col-xs-offset-0 col-sm-6 col-sm-offset-0 col-md-5 col-md-offset-1">
	<img src="https://goodlooks.me/wp-content/uploads/2015/09/mitzi2.jpg" width="1-0" height="150" title="About Us: Mitzi Reaugh CEO &amp; Co-Founder GoodLooks" alt="About Us: Mitzi Reaugh CEO &amp; Co-Founder GoodLooks"  class="responsive center" style="max-width:100%; height:auto; width:100%; display:block" />
	<br>
<h4>Mitzi Reaugh</h4>
<h4>CEO &amp; Co-Founder</h4>
<br>
<p>Mitzi founded the company on the idea that GoodLooks comes when you look and feel your best from the inside out. Working in consumer digital throughout her career, Mitzi has helped to build and launch a number of ground-breaking products.  </p>
<p>Mitzi worked at NBC Universal where she was part of the team that formed and launched the Hulu venture. While at Miramax, she oversaw the launch of Miramax's Facebook video app, in which she grew Miramax’s social media presence to 75M+ Facebook fans and oversaw the site's original blog content. She began her career in online marketing working for a number of idealab start-ups. </p>
<p>Mitzi serves on the Board of Directors for Harmonic (Nasdaq: HLIT) and FEME, a non-profit focused on connecting women in media and entertainment. Mitzi holds a BA from Claremont McKenna College and an MBA from The Wharton School. She lives in Los Angeles with her husband, twin daughters, and dog. When she's not working, she enjoys playing with her kids, running, yoga, cooking, and, of course, shopping.</p>

</div>

<div class="col-xs-6 col-xs-offset-0 col-sm-6 col-sm-offset-0 col-md-5">
	<img src="https://goodlooks.me/wp-content/uploads/2015/09/cynthia21.jpg" width="150" height="150" title="About Us: Cynthia Rupeka, Head of Brand Experience &amp; Co-Founder GoodLooks " alt="About Us: Cynthia Rupeka, Head of Brand Experience &amp; Co-Founder GoodLooks "  class="responsive center" style="max-width:100%; height:auto; width:100%; display:block" />
	<br>
<h4>Cynthia Rupeka</h4>
<h4>Head of Brand Experience &amp; Co-Founder</h4>
<br>
<p>Cynthia was inspired to build GoodLooks because she saw a need for a women's lifestyle brand that focuses on the whole person. Throughout her career, she has worked with media companies and has a vision for how content can build and develop a brand.</p>

<p>Cynthia most recently worked at The Chernin Group, focused on developing new digital video channels to add to the successful Crunchyroll platform. During her tenure at Miramax, she contributed to the company's new content growth strategy evaluating film, television and digital growth options. She began her career at Morgan Stanley in Equity Research covering media, entertainment and retail.</p>

<p>Cynthia holds a BS from New York University. She lives in Santa Monica and spends her free time at the beach or dining with friends.</p>
</div>


</div>
</div>
</section>