<h1>Homepage</h1>
<br>

	<% if user_signed_in? %>
		<h3>Welcome <%= current_user.name %></h3> 
		 	<% if current_user.level == 2 %>
		 		<%= link_to "Access your profile", edit_pro_path(current_user.pro.id) %>
			<% end %>	 	
	<% end %>

<br><br>

<a href="#" id="show_whatever">Test javascript section</a>
<div id="whatever" class="hidden">This text is supposed to be hidden until click</div>



