<info>
<div class="jumbotron">
  <div class="container-fluid">
    <div class="carousel-caption">
      <div class="col-sm-6 col-md-7">
        <h1>BROADEN YOUR CLIENT BASE</h1>
        <p>Join our network of talented experts to grow your successful, high-powered, and motivated clientele</p>
      </div>
  </div>
</div>
</div>




<section id="experience">
<div class="container">
<div class="row">
<h2>What is GoodLooks?</h2>
<p>GoodLooks is marketplace of high-quality, vetted professionals that is transforming the way consumers access the experts to look, feel, and be their best.  Our platform offers the tools, resources, and services for users to interact with top experts for fitness, nutrition, style, and career advice.
<p>
<div class="col-sm-4 col-md-4">
<h3>ANSWERS &amp; ADVICE</h3>
<p>Our "Ask an Expert" tool lets Users Submit their questions to specialists and community Want to keep Private? No problem-post anonymously. We're here to make it easy for you to access experts and receive custom-tailored, quality advice.</p>
</div>

<div class="col-sm-4 col-md-4">
<h3>15 for $15</h3>
<p>Users can book 15-minutes with any expert for $15, giving both clients and experts the opportunity to make sure it’s the right fit before committing to services.</p>
</div>

<div class="col-sm-4 col-md-4">
<h3>VIRTUAL &amp; IN-PERSON SESSIONS</h3>
<p>We allow professionals to offer virtual and/or in-person services to work with the widest audience in the capacity they want.</p>
</div>

</div>
</div>
</section>


<section id="experience">
<div class="container">
<div class="row">
<h2>Benefits of Joining GoodLooks</h2>

<h3>NEW CLIENT ACCESS</h3>
<p>GoodLooks is a destination for successful men and women who want to achieve their personal growth goals.  Over the coming months, GoodLooks will be relaunching our service ramping advertising, PR, and marketing efforts to expand our user base and grow your future clientele!
</p><br><br>

<h3>BUILD YOUR BRAND</h3>
We are committed to promoting and supporting our professionals though high quality content creation, social media, and sponsored placement opportunities.  As an example, you can view a story secured in PopSugar, featuring one of our stylists working with a top editor.  Or check out videos and blog highlighting the expertise of our professional community.
</p><br><br>

<h3>EASY SCHEDULING &amp; PAYMENTS</h3>
By offering customers the ability to book and pay for your services on our platform, we are making transacting easier than ever, ensuring payments occur in a secure environment.  Our two-way scheduling tools integrate with your calendar so consumers can easily and quickly reference your availability.  We accept all major credit cards and use PayPal to ensure you receive your payments in a timely manner.  It is low risk for you! We charge 5% for the service and only get paid when you get paid!
</p><br><br>

<h3>CONTROL YOUR BUSINESS</h3>
You ultimately have the final say! We have professionals that offer virtual and/or in-person services, providing the flexibility of a wide-range of service offerings.  You have the ability to set your own pricing, manage your schedule and determine what clients you want to work with.  At GoodLooks our main goal is to promote your expertise to customers, better matching you with high-quality customer leads that will ultimately lead to more transactions!
</p><br><br>

</div>
</div>
</section>

<section id="experience">
<div class="container">
<div class="row">
<h2>Benefits of Joining GoodLooks</h2>

<p>
	Hear from some of our professionals: 
1.	 “[GoodLooks] is one of the most amazing services that I feel everyone needs to know about!” —Jeni Elizabeth, Personal & Celebrity Stylist
2.	“I really enjoyed being working with GoodLooks… and I loved being able to work with the women I met with. They were so great, open and receptive” —Daisy Swan, Career Coach
3.	“XXXXX”—Kristie Jorfald, Personal Stylist
</p>

</div>
</div>
</section>


<section id="sugar">
<div class="container">
<div class="row">
<h4>As Seen In</h4>
<div class="col-sm-12 col-md-12" align="center"><img src="https://s3-us-west-1.amazonaws.com/goodlooks/pop.png" alt="GoodLooks on PopSugar" class="img-responsive"></div>
</div>
</div>
</section>

</div>
</div>
</div>
</info>



