				<!-- ********** PRIVACY POLICY ********** --> 

<section id="terms">
<div class="container">
<div class="row">
<div class="col-md-10 col-md-offset-1">
                <h3>Privacy Policy</h3>


<p>GoodLooks, LLC and its websites and applications entitled “GoodLooks” (&#8220;we,&#8221; &#8220;our&#8221; or &#8220;us&#8221;) believe that your privacy is very important. This Policy outlines the types of personally identifiable information and other data that we will collect from you through your use of our website and applications (our &#8220;Services&#8221;), and how we will use and when we might disclose such information and data to third parties. This privacy policy applies whether you are a user seeking to discover and/or book a service professional (“User”) or if you are a service professional using our Services to promote yourself to our Users (“Professional”). Your installation and/or use of these Services and/or submission of information to us constitute your consent to this Privacy Policy. This Privacy Policy is effective as of April 13, 2015 and was last modified on September 11, 2015.</p>

<p><strong>There are two types of information we may collect through your use of the Services:</strong></p>
<ol>
<li>“<strong>Personal Information</strong>,” which is the type of information that specifically identifies you personally and/or can be used alone to contact you online or offline, such as your full name, physical address, email address, telephone number, photograph, precise geolocation information, credit card information and, in some cases, user names; and</li>
<li>“<strong>Non-personal Information</strong>,” which is information that does not identify you and cannot be used to contact you personally, including information about you such as your date of birth, ZIP code, non-precise geolocation information (e.g., your city), and gender, as well as information about your computer and mobile device, such as your unique device ID, Internet Protocol (IP) address, or other persistent identifiers, and their hardware/software/firmware. Non-personal Information also includes “<strong>Usage Data</strong>,” which is anonymous data tied to your computer and/or device, such as the actions you take within and outside of the Services, the browser you use, the date and time of your use of the Services, the Professionals or Users you have reviewed or contacted, and the URLs you visited and/or apps you used before and after using our Services.</li>

<p><strong>Personal Information and Non-personal Information That We Collect and How We Collect It</strong></p>
<ul>
<li>If you choose to open an account with us, request support, or in any other way take steps that require the submission of Personal Information or Non-personal Information, we may collect information such as your name, email address, physical address, credit card information, date of birth, gender and/or phone number.</li>
<li>If you choose to connect to our Services through a third-party social network such as Facebook, we may collect Personal Information and Non-personal Information from your profile on such third-party social networks, such as your name, username, e-mail address, photograph, gender and date of birth.</li>
<li>If you choose to book a Professional through our Services, we will collect your credit card information and other billing information.</li>
<li>If you choose to make use of any public forum, comment section, or chat function, we may collect any Personal Information you may disclose through such means.</li>
<li>If you choose to submit your Personal Information to us for any other reason in any other form, we will collect such Personal Information and use it for the purposes for which you submitted it.</li>
<li>We will not collect any Personal Information from you simply by virtue of you browsing our Services or otherwise using our Services in a manner that includes no interaction; we only collect it if you choose to submit it to us. However, we, or third party analytics services on our behalf, may collect Non-personal Information such as device IDs, IP addresses and other persistent identifiers, as well as Usage Data, whenever you use our Services. Such Non-personal Information is not combined with Personal Information unless you choose to submit Personal Information to us.</li>
<li>A special note about cookies: In connection with the foregoing collection of Personal Information and Non-personal Information, we may also use cookies (tiny text files that are stored on your computer&#8217;s hard drive or mobile device when you visit certain web pages that identify your computer or mobile device and may store information about you). Should you choose to submit Personal Information to us, we may link cookie information to such Personal Information. You can disable cookies or set your browser to alert you when cookies are being sent. However, some of our services will not function properly if you do so and you may lose access to the services you purchased.</li>
</ul>
<p><strong>
Use of the Personal Information That We Collect</strong></p>
<p>We will use your Personal Information to:</p>
<ul>
<li>provide you with the services or functionality you have requested, including putting Users and Professionals in touch with one another when requested and facilitating transactions;</li>
<li>respond to any inquiries you have made through our customer service features;</li>
<li>contact you to promote our Services, Professionals, and any specials we may offer. We will provide you with the opportunity to opt out of receiving such materials in the future. You may also opt out of receiving such materials at any time in accordance with the instructions provided in this Privacy Policy;</li>
<li>contact you to follow up with inquiries regarding recent transactions.</li>
</ul>
<p><strong>
Use of the Non-personal Information That We Collect</strong></p>
<p>Non-personal Information may be used by us for administrative, analytical, research, optimization, security and other purposes. Specifically, we may use your Non-personal Information to:</p>
<ul>
<li>track your use of our Services to help us learn more about your preferences and tendencies so that we can personalize your experience, provide you with offers and notifications that are tailored to you, and otherwise enhance your experience;</li>
<li>personalize your content and offers;</li>
<li>compile statistics;</li>
<li>respond to customer service inquiries;</li>
<li>protect against crime or fraud, or for other security reasons;</li>
<li>determine the city in which you are located so we can determine what Professionals or Users are applicable to you.</li>
</ul>
<p><strong>
Disclosure of the Personal Information and Non-personal Information That We Collect</strong></p>
<ul>
<li>If you are a User, we will only share your Personal Information with the Professionals whom you wish to contact. We will also share whatever Personal Information you choose to share through publicly-accessible aspects of our Services, including any disclosed via your username or through public accounts. Otherwise, we will not sell, rent or transfer your Personal Information to third parties without your prior consent.</li>
<li>If you are a Professional, any personal information included in your profile will be made public and will be accessible to all Users and anyone else using our Services.</li>
</ul>
<ul>
<li>Upon a booking, we may provide the User and the Professional with the other’s contact information, including e-mail address and phone number.  Each party is prohibited from contacting the other for any purpose unrelated to the booking.</li>
</ul>
<ul>
<li>We will not store your credit card information. In order to process credit card payments, we will use the service of a secure third-party credit card processor with whom we will share your credit card information.</li>
<li>We use the services of third parties who will have limited access to your Personal Information to be used for specific purposes. These purposes may include credit card processing, marketing assistance, customer service, and data analysis. In addition, Non-personal Information in aggregated, anonymous form may be shared with third parties who assist us with our internal operations such as administration, analytics, research, and optimization. The third parties we contract with for these purposes will be authorized to use your Personal Information and Non-Personal Information only for the purposes for which the party was engaged.</li>
<li>Our Services may offer social sharing features such as “Share” or “Like” on Facebook or other third party social networking sites. If you decide to use such features, it may allow the sharing and collection of Personal Information and Non-personal Information both to and from such third-party social networks. You should visit the policies of such third parties for more information about their information collection practices.</li>
<li>We may disclose your Personal Information or other information collected if required by law or court order, if the information relates to actual or threatened harmful conduct, to investigate and/or take action against illegal activity, suspected abuse or unauthorized use of the Services, or to protect the property or safety of others.</li>
<li>In connection with any sale of our company or any line of business (including the assets relating thereto), customer information generally is one of the transferred business assets, and such customer information (including your Personal Information) will be transferred or sold to the acquirer in the event of any such sale or disposition of any or all of our business.</li>
</ul>
<p><strong>
Your Rights</strong></p>
<p>We ask that you keep the Personal Information that you provide to us current and that you correct any information you have provided us by contacting us at <a href="mailto:PrivacyPolicyGameloft@gameloft.com">privacy@goodlooks.com</a>. You represent and warrant that all Personal Information you provide us is true and correct and relates to you and not to any other person.</p>
<p>If you wish to opt out of further communications from us, or if you wish to review, delete and/or revise the Personal Information we have stored about you, please contact us with your specific request at <a href="mailto:PrivacyPolicyGameloft@gameloft.com">privacy@goodlooks.com</a>; provided, however, that we reserve the right to retain an archive of such Personal Information for a commercially reasonable time to ensure that its deletion does not affect the integrity of our data<strong>;</strong> and we further reserve the right to retain an anonymous version of such information.</p>
<p>You can decline to permit cookies in your browser, but in that case we cannot promise you that all Services features will function properly as a result.</p>
<p>If you use the Services, you are responsible for maintaining the confidentiality of your account and for restricting access to your computer or device, and you agree to accept responsibility for all activities that occur under your account.</p>
<p><strong>
Partnerships and Third Parties</strong></p>
<p>Our Services may link to or facilitate introductions to external sites or third parties outside of our control, including Users and Professionals.  This privacy policy covers only the way we treat the Personal Information and Non-personal Information we collect through our Services. By accessing any external sites, or by providing information to a User or Professional, you are agreeing to the privacy policies of those third parties. Please understand that third parties may have different policies with respect to the collection, use and disclosure of your Personal Information. We have no control over and are not responsible for the privacy practices of such third parties.  This includes Professionals; while we will use reasonable efforts to require Professionals to abide by the terms of this policy, we are under no obligation to do so and cannot control their activity.  Therefore, you are encouraged to review the privacy policies of all third party services and to discuss the privacy practices of any Professional or User you may meet through our Services. Without limiting anything in the following section, we are not liable in any way for the actions, inactions or policies of any external services, including those of a Professional or User.</p>
<p><strong>
Children</strong></p>
<p>Our Services are intended for use by adults only and we do not knowingly collect or use any Personal Information from children under the age of 18.  If you are a parent of a child under 13 years of age and you believe your child has provided us with Personal Information, please contact us at <a href="mailto:PrivacyPolicyGameloft@gameloft.com">privacy@goodlooks.com</a> and we will delete the information from our system.</p>
<p><strong>
Changes</strong></p>
<p>We reserve the right to change this Privacy Policy at any time. In the event we make material changes to this Privacy Policy, such policy will be re-posted in the &#8220;Privacy&#8221; section of our Services with the date such modifications were made indicated on the top of the page. Therefore, please review this Privacy Policy from time to time so that you are aware when any changes are made to this Privacy Policy. Your continued use of the Services after such change constitutes your acceptance of any such change(s), and if you do not accept any changes, you may choose not to use the Services or opt out by sending us an appropriate notice.</p>
<p><strong>
Security</strong></p>
<p>It is entirely your choice whether or not you provide Personal Information to us. We and/or our third-party partners have put in place physical, electronic, and managerial procedures to attempt to safeguard and help prevent unauthorized access, maintain data security, and correctly use the Personal Information collected through the Services. We take, or obligate applicable third parties to take, reasonable precautions to protect our customers&#8217; Personal Information against loss, misuse, unauthorized disclosure, alteration, and destruction. However, please remember that no transmission of data over the Internet or any wireless network can be guaranteed to be 100% secure. As a result, while we strive to protect your Personal Information, we cannot ensure or warrant the security of any information that you transmit to us or from us, and you do so at your own risk. We cannot ensure or warrant the security of any information you transmit to us by email and you do so at your own risk.</p>
<p>When we use third parties to assist us in processing your Personal Information, including credit card information, we take reasonable steps to require that they comply with this Privacy Policy and otherwise protect your Personal Information.</p>
<p>If there is a breach of security involving your credit card information, we will inform you immediately and take commercially reasonable steps to rectify such breach.</p>
<p>If you believe your Personal Information is being improperly used by us or any third party, please immediately notify us via email at <a href="mailto:PrivacyPolicyGameloft@gameloft.com">privacy@goodlooks.com</a>.</p>
<p><strong>
Legal Disclaimer</strong></p>
<p>Our Services operate AS-IS, and we do not represent or warrant that our Services will be available at all times, or that your use of the Services will be uninterrupted or error-free. We are not responsible for your ability to access the Services or for matters beyond our control. This Privacy Policy is governed by California law, excluding its provisions on choice of law.</p>
<p>If you have any general questions about our Privacy Policy, please contact us at <a href="mailto:PrivacyPolicyGameloft@gameloft.com">privacy@goodlooks.com</a>.</p>
		
            </p>	
			</div>
			</div>
			</div>
			</div>
		</section>

			           
