
<section class="upcoming-evets">
    <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="base-container">
              <div class="section-title">
                <ul class="list-inline">
                  <li class="base-title">Contact Us</li>
                </ul>
              </div> 


<div class="row">   
	<div class="col-xs-4 col-sm-4">
		<br>		
		<p>If you are a professional and interested in learning more about GoodLooks, please read more <%= link_to "here.", info_path %></p>
		<br>
		<p>Read more about GoodLooks and the management team <%= link_to "here.", about_path %></p>
		<br>
		<p>Press inquiries, business partnerships, or other requests, please complete this form to contact us.  </p>
	</div>


<%= render 'form' %>

</div>


</div>
</div>
</div>
</div>
</section>
