<div class ="row">
<div class="col-md-4">
  <div class="nested-fields">
    <%= f.input :title, placeholder: "Name of the service offered", label: "Service Name" %>
    <%= f.input :description, placeholder: "Provide a description of the service"  %>
    <%= f.input :length, placeholder: "Amount of time for this package in minutes"  %>
    <%= f.input :price, placeholder: "What is the price" %>
    
  </div>
  </div>
    </div>
