<section class="tab_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
            	<div class ="center">
<br>
<h3><%= @pro.name %>, edit your profile information here</h3>
<h3>Be sure to save your work before leaving</h3>
<br>	
</div>
<%= render 'form' %>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
<br>
            <%= link_to 'Update your email or password here', edit_user_registration_path %>
        </div>
        </div>
        </div>

</div>
</div>

</div>
</section>