<h2 class="center black">Edit your profile information</h2>
<h3 class="center">Be sure to save your work before leaving</h3>
	
<%= render 'form' %>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
<br>
            <%= link_to 'Update your email or password here', edit_user_registration_path %>
        </div>
        </div>
        </div>
