<section class="tab_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
<h5>
	<b>Please get started building your profile.  You can come back anytime to finish - just be sure to save your profile first.</b>
<br><br>	
	We started GoodLooks with the belief that every person should feel comfortable in their own skin.  Our goal is to create a destination for successful men and women to find the right professional to help them look their best, feel their best, and be their best. 
<br><br>
First we need you tell us a bit about yorurself and your business.  This allows users to better search and find you.  Next, we'll ask you to add the services you provide.
<br><br>
</h5>


<%= render 'form' %>


</div>
</div>

</div>
</section>