<h5>
	We started GoodLooks with the belief that every person should feel comfortable in their own skin.  Our goal is to create a destination for successful men and women to find the right professional to help them look their best, feel their best, and be their best. 
<br>
First we need you tell us a bit about yorurself and your business.  This allows users to better search and find you.  Next, we'll ask you to add the services you provide.

</h5>


<%= render 'form' %>
