<h3 class=center>Welcome!<h3>
<p class=center>
	We started GoodLooks with the belief that every person should feel comfortable in their own skin.  Our goal is to create a destination for successful men and women to find the right professional to help them look their best, feel their best, and be their best. 
<br>By joining our network of experts, we can help deliver you new, qualified customers on the GoodLooks platform. And nothing makes us more excited than enabling a great match between a talented professional and a great customer.
<br> So welcome aboard! We look forward to growing alongside you and your business….
</p>


<%= render 'form' %>

<%= link_to 'Back', pros_path %>
