<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pro.name %>
</p>


                                      <option selected value="Select a service">Select a service</option>
                                      <% @services.each do |service| %>
                                          <p>Service: <%= service.title %></p>
                                      <% end %>


