<%= simple_form_for([@pro, @photo]) do |f| %>
<%= f.error_notification %>


   <%= f.input :photo, label: "Add a portfolio image", :as => :file%>
   <br>

  <div class="form-actions">
    <%= f.submit "Save your image", class: 'f_bold btn btn-default btn-theme btn-lg' %>
    </div>

<% end %>